<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO list-你的记事本</title>
    <link rel="stylesheet" href="todolist.css">
</head>

<body>
    <section id="todolist">
        <header class="header">
            <h1>TODO list</h1>
            <div class="addb">
                <div class="inputtodo">
                    <input v-model="inputValue" @keyup.enter="add" @keydown.enter="gatData" placeholder="添加ToDo" class="addtodo">
                </div>
                <div class="addbtn">
                    <img src="icon/add .png">
                </div>
            </div>
        </header>
        <section class="main">
            <div class="sj">
                <div class="doing">
                    <h2>未完成</h2>
                    <ul class="tdlist">
                        <li class="todo" v-for="(item,index) in list" v-if="!item.checked">
                            <div class="view">
                                <!-- <label>{{item}}</label> -->
                                <input type="checkbox" v-model="item.checked"  />
                                {{item.title}}
                                <button class="destroy" @click="remove(index)">×</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="success">
                    <h2>已完成</h2>
                    <ul class="sclist">
                        <li class="sctd" v-for="(item,index) in list" v-if="item.checked">
                            <div class="view2">
                                <!-- <label>{{index}}</label> -->
                                <input type="checkbox" v-model="item.checked" />
                                {{item.title}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="todolist.js"></script>
</body>

</html>